@import "tailwindcss";
@import "tw-animate-css";

:root {
  font-family: "Outfit", sans-serif;
  --radius: 0.625rem;
  --primary: rgb(147, 197, 253);
}

@theme inline {
  --shadow-primary: 5px 6px 0px -1px #000000;
  --shadow-secondary: 3px 3px 0px -1px #000000;
  --shadow-secondary-opposite: -3px 3px 0px -1px #000000;
}

@layer base {
  * {
    @apply border-gray-200;
  }
  body {
    @apply bg-white text-gray-950;
  }
}
